<app-header></app-header>
<app-sidenav-assessors></app-sidenav-assessors>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Hold on while we take you to your CII FACE Account! </p>
</ngx-spinner>
<div id="content" class="app-content" role="main">
  <div class="app-content-body container">
    <h2>Assess Checklist(Section)</h2>
    <div class="card">
      <div>
        <ul class="nav nav-tabs">
          <li role="presentation" *ngFor="let item of this.section" (click)="getQuestion(item)"><a style="font-size: 14px;">Sec-{{ item }}</a>
          </li>
        </ul>
        <form (ngSubmit)="onSubmit()" [formGroup]="Sectionform" formArrayName="score">
        <div class="col-sm-12 panel" *ngFor="let item of this.subsection;let i=index">
            <p class="h4" style="margin: 2rem 0; font-size: 19px;">{{ item.sub_section_no }} : {{ item.sub_section_title }}</p>
            <div class="col-md-12 text-danger">
              <div class="col-md-1 b">Qs#</div>
              <div class="col-md-5 b">Checkpoint</div>
              <div class="col-md-3 b">Applicant Response</div>
              <div class="col-md-3 b">Answer</div>
            </div>
            <div class="col-md-12" *ngFor="let item_inner of this.questions">
              <div *ngIf="item.sub_section_no===item_inner.sub_section_no">
                <div class="col-md-1">{{ item_inner.question_no }}</div>
                <div class="col-md-5">{{ item_inner.question_title }}<br /><small>{{
                    item_inner.question_description }}</small></div>
                <div class="col-md-3">{{item_inner.answer }}</div>
                <div class="col-md-3">
                  <textarea class="form-control" [(ngModel)]="this.modall[item_inner._id]" [ngModelOptions]="{standalone: true}"
                    name="{{ item_inner._id }}" *ngIf="item_inner.type=='T'?true:false"
                    (input)="onChangeControl(item_inner._id,$event,null)" ></textarea>
                  <select *ngIf="item_inner.type=='DD'?true:false" name="{{ item_inner._id }}" class="form-control"
                    (change)=" onChangeControl(item_inner._id,$event,null)" [(ngModel)]="this.modall[item_inner._id]"
                    [ngModelOptions]="{standalone: true}" >
                    <option value="">Choose any option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Not Applicable">Not Applicable</option>
                    <option value="Partly">Partly</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="font-size: 18px; color: #585858; font-weight: 500;">Score</div>
            <div class="col-md-6">
              <input style="margin-bottom: 2rem;width: 196px; float: right;" class="form-control" (input)=" onChangeScore(item.sub_section_no, $event,null)" [(ngModel)]="this.modelscore[item.sub_section_no]" [ngModelOptions]="{standalone: true}" />
            </div>


          </div>
          <button class="saveBtn">Save</button>
        </form>
      </div>
    </div>

  </div>
</div>
