.b {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 15px;
}
.panel {
  background: #FFFFFF;
  border-radius: 0 !important;
}
.saveBtn {
      margin: 0 0 2rem 3rem;
        background: #87a63f;
        border: none;
        color: #fff;
        padding: .5rem 2rem;
        border-radius: 3px;

}
.perText {
  float: right;
    position: relative;
    top: 34px;
    left: 205px;
    margin-top: 6px;
    color: #e24a4a;
}
.perSpan {
  float: right;
    position: relative;
    left: 210px;
    top: 8px;
}
.InputFeild {
  margin-bottom: 2rem;
    width: 196px;
    float: right;
    margin-right: 26px;

}
.scoreDiv {
  font-size: 18px;
    color: #585858;
    font-weight: 500;
}
