.fa-check-circle {
    font-size: 50px;
    color: #27c24c;
}
.fa-times-circle
{
   font-size: 50px;
    color: #cf0505;
}
.main-con h2 {
  font-size: 30px;
  font-weight: 600;
  color: #2c2c2c;
}
.main-con p {
  color: #444;
  font-size: 1.5rem;
}
.padding {
  padding: 8rem !important
}
.main-con {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.support-btn {
  border-radius: 10px;
  background: #6693f7;
  color: #fff;
  padding: 15px 20px;
}
