<app-header></app-header>
<app-sidenav-assessors></app-sidenav-assessors>
<div id="content" class="app-content" role="main">
  <div class="app-content-body container">
    <h2>Checklist(Section)</h2>
    <div class="card">
      <div>
        <ul class="nav nav-tabs">
          <li role="presentation" *ngFor="let item of this.section" (click)="getQuestion(item)" ><a >Sec-{{ item }}</a></li>
        </ul>
        <div class="col-sm-12" *ngFor="let item of this.subsection">
          <p class="h4" style="margin-bottom: 1rem;">{{ item.sub_section_no }} : {{ item.sub_section_title }}</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Qs #</th>
                <th>Checkpoint</th>
                <th>Selection / Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item_inner of this.questions">
                <td *ngIf="item.sub_section_no===item_inner.sub_section_no" style="width: 8rem;">{{ item_inner.question_no }}
                </td>
                <td *ngIf="item.sub_section_no===item_inner.sub_section_no">{{ item_inner.question_title }}<br /><small>{{
                    item_inner.question_description }}</small></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
