<app-header></app-header>
<app-sidenav-assessors></app-sidenav-assessors>
<div id="content" class="app-content" role="main">
  <div class="app-content-body container">
    <h2>Assessor Dashboard</h2>
    <!-- <div class="card">
      <img src="../../../assets/img/background-default.png" style="width:40%;" />
      <p>This section shall be available once your Application is accepted and the assessment is undertaken.</p>
    </div> -->
    <section id="dasboard-top-boxes">
      <div class="first-sec">
        <div class="top-box">
          <div class="title">
            <h6>Assessments</h6>
          </div>
          <div class="footer-number color1">
            <h5>5678745678</h5>
          </div>
        </div>
        <div class="top-box">
          <div class="title">
            <h6>Completed</h6>
          </div>
          <div class="footer-number color2">
            <h5>5678745678</h5>
          </div>
        </div>
        <div class="top-box">
          <div class="title">
            <h6>Pending</h6>
          </div>
          <div class="footer-number color3">
            <h5>5678745678</h5>
          </div>
        </div>
      </div>
    </section>
    <section id="assisment-table">
      <div class="applicants-title">
        <h6>ASSESSMENTS</h6>
      </div>
      <div class="applicants-data">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>APPLICANT DETAIL</th>
              <th>ASSESSMENT SCHEDULE</th>
              <th>ASSESSMENT TEAM</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>Company Name 1</td>
              <td><i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="review">Review</span></td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>Company Name 2</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="review">Review</span></td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td>Company Name 3</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="completed">Completed</span></td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td>Company Name 4</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="completed">Completed</span></td>
            </tr>
            <tr>
              <td scope="row">5</td>
              <td>Company Name 5</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="review">Review</span></td>
            </tr>
            <tr>
              <td scope="row">6</td>
              <td>Company Name 6</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="completed">Completed</span></td>
            </tr>
            <tr>
              <td scope="row">7</td>
              <td>Company Name 7</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="completed">Completed</span></td>
            </tr>
            <tr>
              <td scope="row">8</td>
              <td>Company Name 8</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="pending">Pending</span></td>
            </tr>
            <tr>
              <td scope="row">9</td>
              <td>Company Name 9</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="pending">Pending</span></td>
            </tr>
            <tr>
              <td scope="row">10</td>
              <td>Company Name 10</td>
              <td> <i class="fa fa-calendar" aria-hidden="true"></i> 15 April - 18 April</td>
              <td>Team Member 1</td>
              <td><span class="completed">Completed</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>