.YesNoBtn {
    border: 1px solid #cdc5c5;
    width: 6rem;
    height: 3rem;
    border-radius: 3px;
}
.mb {
    margin-bottom: 1.2rem;
}
.ComText {
    font-size: 14px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
}
td, th {
    padding-right: 9px;
}
.TeamInfo ul {
    list-style: none;
    padding-left: 0;
}
.Label {
    color: #58666e;
    margin-left: 1rem;
}
.SubmitBtn {
    background: #87a63f;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    padding: 0.5rem 2rem;
}
thead {
    background: #dbd8d8;
}
th, td {
    padding: 7px;
    border: 1px solid #a3a0a0;
    text-align: center;
}
tbody tr td input {
    border: none;
    height: 19px;
    padding: 6px 12px 6px 40px;
}