<app-header></app-header>
<app-sidenav-assessors></app-sidenav-assessors>
<div id="content" class="app-content" role="main">
  <div class="app-content-body container">
    <h2>Assessment Information</h2>
    <div class="col-md-12 table-responsive" style="min-height:100rem;">

      <table class="panel panel-default table table-dark nowrap" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">Applicant Detail</th>
            <th scope="col">Assessment Schedule</th>
            <th scope="col">Designation</th>
            <th scope="col">Created On</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let allval of AllocationList">
            <td>
              <span class="app-id">Name: {{ allval.applicantData[0].firstName}}</span><br />
              <span>Email: {{ allval.applicantData[0].email}}</span><br />
              <span>{{ allval.applicantData[0].criteria}}, {{ allval.applicantData[0].sector}}</span>
            </td>
            <td>
              From:<b> {{ allval.period_from|date:'dd-MM-yyyy' }} </b><br />
              To:<b> {{ allval.period_to|date:'dd-MM-yyyy' }}</b>
            </td>
            <td>
              <ul class="nav nav-stacked">
                <li class="" *ngIf="allval.teamleader">Team Leader</li>
                <li class="" *ngIf="allval.calibrator">Calibrator</li>
                <li class="" *ngIf="!allval.calibrator && !allval.teamleader">Assessor</li>
              </ul>
            </td>
            <td> {{ allval.created_at|date:'dd-MM-yyyy' }} <br />{{ allval.allocationliststatus }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-cls" type="button" id="menu1"
                  data-toggle="dropdown"><span class="app-id"> <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;</span>
                  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1"
                      href="/team-allocation/{{ allval._id }}">Team Info</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/team-allocation/{{ allval.allocation_id }}"
                      *ngIf="allval.teamleader">Manage Assessment
                    </a></li>
                  <li role="presentation" *ngIf="allval.allocationliststatus=='pending'?true:false"
                    (click)="updateStatus($event, allval._id , 'accepted',allval.applicantData[0].email,allval.teamleader,allval.applicantData[0].firstName)">
                    <a role="menuitem" tabindex="-1">Accept</a></li>
                  <li role="presentation" *ngIf="allval.allocationliststatus=='pending'?true:false"
                    (click)="updateStatus($event, allval._id , 'rejected',allval.applicantData[0].email,allval.teamleader,allval.applicantData[0].firstName)">
                    <a role="menuitem" tabindex="-1" >Reject</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"
                      href="/view-app/{{ allval.applicantData[0]._id }}">Applicant LOI</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"
                      href="/view-checklist/{{ allval.applicantData[0]._id }}">Applicant Checklist</a></li>
                  <li role="presentation" ><a role="menuitem" tabindex="-1" href="/assess-checklist/{{ allval.applicantData[0]._id }}">Assess Applicant</a></li>

                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
